* {
    color: #eee!important;
    font-family: sans-serif;
}

body {
    background-color: #333;
    margin: 30px;
}

input {
    background-color: #555;
    border: none;
    padding: 15px;
}

input:focus {
    outline: none;
}

button {
    outline: 0;
    background: none;
    border: 0;
}

.track-title {
    font-weight: bold;
}

.track-album {
    font-style: italic;
    color: #aaa;
}

.music-item:not(:first-child) {
    margin-top: 10px;
}

.music-item {
    background-color: #555;
    padding: 20px;

    text-overflow: ellipsis;
}

.music-item:hover {
    background-color: #777;
}

.navbar-default {
  background-color: purple;
}

.suggestion {
    overflow: hidden;
}

.suggestion .votes {
    float: left;
    display: block;

    text-align: center;

    padding-right: 15px;
}

.suggestion .votes .up.set {
  color: #0f0;
}

.suggestion .votes .up:hover {
    color: #afa;
}

.suggestion .votes .down.set {
  color: #f00;
}

.suggestion .votes .down:hover {
  color: #faa;
}

.suggestion .track-contents {
    overflow: hidden;
}
