*, h1, h2, h3, h4, h5, h6 {
    color: #eee;
    font-family: sans-serif;
}

body {
    background-color: #333;
}

input {
    background-color: #555;
    border: none;
    padding: 15px;
}

input:focus {
    outline: none;
}

.loginbutton {

}
button {
    outline: 0;
    background: none;
    border: 0;
}

#search-button {
  color: white;
}

.track-title {
    font-weight: bold;
}

.track-album {
    font-style: italic;
    color: #aaa;
}

.music-item:not(:first-child) {
    margin-top: 10px;
}

.music-item {
    background-color: #555;
    padding: 20px
}

.music-item:hover {
    background-color: #777;
}

.suggestion {
    overflow: hidden;
}

.suggestion .votes {
    float: left;
    display: block;

    text-align: center;

    padding-right: 15px;
}

.suggestion .votes .up.set {
    color: #0f0;
}

.suggestion .votes .up:hover {
    color: #afa;
}

.suggestion .votes .down.set {
    color: #f00;
}

.suggestion .votes .down:hover {
    color: #faa;
}

.suggestion .track-contents {
    overflow: hidden;
}

.about {
  margin-left: 5%;
  margin-right: 5%;
}

.songs {
  margin-left: 5%;
}

#search-box {
  color: white;
}

#search {
  font-size: 44px;
  font-family: inherit;
}


/* navbar styling http://stackoverflow.com/a/18529465 */
$bgDefault      : #70008b;
$bgHighlight    : #8e00b0;
$colDefault     : #eee;
$colHighlight       : #fff;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
